/* Site wide styles */

/* Wildcard selector, overrides browser settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit
  }

  /* mouse hover link */
a:hover {
    text-decoration: underline;
    color: #5A88A8;
  }

.hidden{
    display: none;
}
h1, h2, p {
    text-transform: uppercase;
    font-family: "Yantramanav", sans-serif;
    font-weight: 450;
    font-style: normal;
}

hr {
    border-top: 1px solid slategray;
    }

ul > li {
    list-style-type: none;
}
body{
    background-color: #B3C1CD;
}

.active{
    text-decoration: underline;
}

/* Header */
#header{
    background-image: linear-gradient(#B6C7D4, #374A4E);
    padding: 0.25em 0.4em;
    border-bottom: 3px;
    box-shadow: 0 2px 0px 0px #5A88A8;
    margin: 0;

    display: flex;
    align-items: baseline;
    position: sticky;
    font-size: 2em;
    vertical-align: middle;
    
    justify-content: space-between;

    height: 1.5em
}

 /* Darkmode */
 /* Header checkbox for Dark mode */
#darkmode{
    display: none;
 }
main{
    padding-bottom: 3rem;
}


/* Title */
#title-background{
    width: 100%;
    height: 550px;
    background: lightblue url(../images/pexels-kevin-ku-577585.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

#title-box{
    background-color: rgba( 255, 255, 255, 0.7);
    width: 70%;
    max-width: 300px;
    height: 15%;
    min-height: 175px;
    justify-self: center;
    padding: 1.5em;
    top: 4rem;
    position: absolute;
    border-style: solid;
    border: 15px;
    box-shadow: 3px rgba( 100, 100, 100, 0.6);
}

#title-box-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 4px;
    border-style: outset;
    border-color: cadetblue;
    background-color: #B3C1CD;
}

#title-picture{
    background-image: url(../images/profile_picture.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 370px;
    width: 40vw;
    max-width: 186px;
    height: 40vw;
    max-height: 186px;
}

#title-heading{
    color: white;
    align-self: center;
    position: absolute;
    left: 2%;
    top: 250px;
    background-color: rgba(31, 38, 45, 0.7);
    padding: 15px;
}
/* Menu */
#menu{
    display: flex;
}

/* Contact menu */
#contact{
    font-size: 2em;
    height: 1.5em;
    background-image: linear-gradient(#B6C7D4, #374A4E);
    width: 100%;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 -2px 2px 0px #5A88A8;
}

#contact-list{
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.25em 0.4em;
    align-content: center;
    font-size: 1.25rem;
    padding: 0.5rem 0px;
}

#contact > ul{
    padding-inline-start: 0px;    
}
/* Nav bar */
nav{
    background-color: #B6C7D4;
    box-shadow: 0 2px 2px 0px #5A88A8;
    width: 100%;
    position: relative;
    float: right;
    padding: 0.75rem 0px;
    text-align: right;
    height: 3rem;
    bottom: 2rem;
    
}

nav > ul{
    padding-inline-start: 10px;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
} 

/* Media queries */
/* Styles for mobile only */

@media screen and (max-width: 375px){
   #header > h3 {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 426px){
    #title-picture{
        left: 2%;
    }
}

@media screen and (max-width: 768px) {
    .hide-on-mobile{
        display: none;
    }
    #menu-darkmode{
        display: none;
    }

    /* Contact as footer on mobile */
}

/* Styles for PC*/
@media screen and (min-width: 769px) {
    .hide-on-pc{
        display: none;
    }
    #contact{
        width: 40%;
        height: 3rem;
        top: -18px;
        position: relative;
        box-shadow: 0 2px 2px 0px #5A88A8;
    }

    #contact-space{
        flex-grow: 1;
    }

    #contact-list{
        display: flex;
        flex-direction: row;
        text-wrap: wrap;
        justify-content: space-evenly;
        font-size: 2rem; 
    }

    nav{
        right: 0px;
        position: relative;
        top: -18px;
        width: 40%;
    }

}

/* Styles for laptops or bigger */
@media screen and (min-width: 1024) {

}

/* Google fonts */
.yantramanav-thin {
    font-family: "Yantramanav", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .yantramanav-light {
    font-family: "Yantramanav", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .yantramanav-regular {
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .yantramanav-medium {
    font-family: "Yantramanav", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .yantramanav-bold {
    font-family: "Yantramanav", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .yantramanav-black {
    font-family: "Yantramanav", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  