/* Site wide styles */

/* Wildcard selector, overrides browser settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.hidden{
    display: none;
}
h1, h2 {
    font:serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid slategray;
    }

ul > li {
    list-style-type: none;
}


/* Troubleshooting contast colours */

header{
    background-color: aqua;
}

nav{
    background-color: yellow;
}
#contact{
    background-color: yellow;
}
/* End of troubleshooting Colours */

/* Header */
#header{
    display: flex;
    align-items: baseline;
    position: sticky;
    font-size: 2em;
    display:flex;
    padding: 0.25em 0.4em;
    justify-content: space-between;
    margin: 0;
    height: 1.5em
}
/* Header checkbox Menu dropdown - inspired by LoveRunning */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none; 
 }

 /* Darkmode */
 /* Header checkbox for Dark mode */
#darkmode{
    display: none;
 }

/* Nav bar */
nav{
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
    top: 1.5em;
    padding: 0 1rem;
    z-index: 1;
}

nav > ul{
    padding-inline-start: 10px;
} 

/* Title */
#title-background{
    width: 100%;
    height: 650px;
    background-image: url(../images/pexels-kevin-ku-577585.jpg);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    z-index: 0;
}

#title-box{
    background-color: rgba( 255, 255, 255, 0.7);
    width: 85%;
    height: 25%;
    left: 5%;
    padding: 1.5em;
    position: absolute;
    border-style: solid;
    border: 15px;
    border-color: rgba( 100, 100, 100, 0.6);
    z-index: 0;
}

#title-picture{
    background-image: url(../images/profile_picture.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    align-self: center;

}

/* Contact menu */
#contact{
    font-size: 2em;
    height: 1.5em;
}

#contact-list{
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.25em 0.4em;
    align-content: center;
}

/* Media queries */
/* Styles for mobile only */
@media screen and (max-width: 768px) {
    .hide-on-mobile{
        display: none;
    }

    /* Contact as footer on mobile */
    #contact{
        width: 100%;
        position: fixed;
        bottom: 0px;
    }
    #contact > ul{
        padding-inline-start: 0px;    
    }
}

/* Styles for PC*/
@media screen and (min-width: 769px) {
    .hide-on-pc{
        display: none;
}
}