/* Site wide styles */

/* Wildcard selector, overrides browser settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.hidden{
    display: none;
}
body{
    margin: 0;
}

h1, h2 {
    font:serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul > li {
    list-style-type: none;
}


/* Troubleshooting contast colours */
body{
background-color: green;
}

header{
    background-color: aqua;
}

nav{
    background-color: blueviolet;
}
/* End of troubleshooting Colours */

/* Header */
#header-list{
    display:flex;
    position: sticky;
    padding: 0.25em 0.4em;
    justify-content: space-between;
    margin: 0;
    font-size: 150%
}
/* Nav bar */


/* Contact menu */
#contact{
    background-color: yellow;
    
}

#contact-list{
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#contact-list i{
    text-align: center;
    font-size: 150%;
}

/* Media queries */
/* Styles for mobile only */
@media screen and (max-width: 768px) {
    .hide-on-mobile{
        display: none;
    }
        
    header{
        width: 100%;
    }
        
    nav{
        width: 130px;
        position: fixed;
        
    }

    nav > ul{
        padding-inline-start: 10px;
        font-size: 1.5em;
    }
    /* Contact as footer on mobile */
    #contact{
        width: 100%;
        position: fixed;
        bottom: 0px;
    }
    #contact > ul{
        padding-inline-start: 0px;    
    }
}

/* Styles for PC*/
@media screen and (min-width: 769px) {
    .hide-on-pc{
        display: none;
}
}